body{background-color:#FFF5FD;}

hr{
background-color:none;
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
height: 0px;
width: 3%;

}

h1{
color:pink }

h3{
color:pink
}
